<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
<!--    <settings>
    <setting name="logImpl" value="LOG4J"/>
   </settings>
	 -->
	 <!-- 配置分页助手 -->
	 <typeAliases>
		<package name="com.xqy.entity" />
	</typeAliases>
	 
	 <typeHandlers>
	 	<typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" 
	 	javaType="com.xqy.entity.Status"/>
	 </typeHandlers>
	 
	 <plugins>
	  <plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
	 </plugins>
	 
	 
	
</configuration>
